<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1200">
    <title>TOALLRecipe</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/recipes.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
<div id="wrapper">
    <div id="header" role="banner">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <img class="d-inline-block align-text-top" src="./images/logo.png" alt="Logo">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link " href="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="recipes" >Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" >Schedules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"  >Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"  >My</a>
                    </li>
                    <button class="btn btn-secondary" type="button" style="font-weight: bold">Login</button>
                </ul>
            </div>
        </nav>
    </div>

    <div id="container" role="main">
        <div class="recipes">
            <div class="recipes-text">
                <p class="recipes-text2" style="font-size: xxx-large; font-weight: bolder; text-align: center"> Show off your own Recipes!<br></p>
                <p class="recipes-text3" style="text-align: center; padding-top: 15px; font-size: medium; font-weight: bold">나만 알고 있는 맛있는 레시피 함께 나눠요!</p>
                <p class="button-space">
                    <button class="btn btn-warning" type="button" onclick="location.href='/recipes/save'" style="font-weight: bold"> Share my recipe </button>
                </p>
            </div>
            <div class="recipes-category">
                <a class="category-hot" href="#" >Hot dishes</a>
                <a class="category-cold" href="#">Cold dishes</a>
                <a class="category-vegan" href="#">Vegan</a>
                <a class="category-spicy" href="#">Spicy</a>
                <a class="category-desserts" href="#">Desserts</a>
                <a class="category-drinks" href="#">Drinks</a>
            </div>







<!--            <div class="recipe-choice">-->
<!--                <div class="row row-cols-1 row-cols-md-3 g-3">-->
<!--                    <div class="col">-->
<!--                        <div class="card h-100">-->
<!--                            <img src="..." class="card-img-top" alt="...">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Card title</h5>-->
<!--                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col">-->
<!--                        <div class="card h-100">-->
<!--                            <img src="..." class="card-img-top" alt="...">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Card title</h5>-->
<!--                                <p class="card-text">This is a short card.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col">-->
<!--                        <div class="card h-100">-->
<!--                            <img src="..." class="card-img-top" alt="...">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Card title</h5>-->
<!--                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col">-->
<!--                        <div class="card h-100">-->
<!--                            <img src="..." class="card-img-top" alt="...">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Card title</h5>-->
<!--                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </div>
    </div>



</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>