<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TOALLRecipe</title>
    <link rel="icon" href="./images/logo.png">
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="./css/home.css"/>
    <!--    <script src="https://kit.fontawesome.com/9299056aff.js" crossorigin="anonymous"></script>-->

</head>

<body>

<header>
    <div class="frame" id="20:1251">
        <div class="inner-frame" id="20:1249">
            <div class="to-all-recipe" id="20:782">
                <span class="to-all">TO ALL</span>
                <span class="recipe"> Recipe</span>
            </div>
            <div class="home" id="20:1236">HOME</div>
        </div>
    </div>
</header>