<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1200">
    <title>TOALLRecipe</title>
    <link rel="icon" href="./images/logo.png">
    <link rel="stylesheet" href="./css/home.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
<div id="wrapper">
    <div id="header" role="banner">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <img class="d-inline-block align-text-top" src="./images/logo.png" alt="Logo">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" style="color: black">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"  style="color: black">Schedules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"  style="color: black">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"  style="color: black">My</a>
                    </li>
                    <button class="btn btn-secondary" type="button" >Login</button>
                </ul>
            </div>
        </nav>
    </div>

    <div id="container" role="main">

        <div class="home-text">
            <h1 class="first-text">
                Let's do the<br>
                delicious Diet!
            </h1>
            <p class="second-text">
                매일 닭가슴살만 먹는 다이어트는 그만<br>
                나만의 레시피를 공유해주세요<br>
                식습관을 바꾸는 건강한 다이어트 함께해요
            </p>
            <p class="button-space">
                <button class="btn btn-warning" type="button"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    Share my recipe
                </button>
            </p>
        </div>

        <div class="home-images">
            <div class="container text-center">
                <div class="row g-2">
                    <div class="col-md-3">
                        <div class="p-1">
                            <img style="height: 500px;" src="https://images.unsplash.com/photo-1621919472462-6db865a003e4?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDExNXx8ZGlldHxlbnwwfHx8fDE2NzQ3MjI3MzE&ixlib=rb-4.0.3&w=1000" class="img-fluid" alt="image1">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="p-1">
                            <img src="https://images.unsplash.com/photo-1513136917659-7306838e7d82?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDM2fHxkaWV0fGVufDB8fHx8MTY3NDcyMjY4NQ&ixlib=rb-4.0.3&w=1000" class="img-fluid" alt="image2">
                        </div>
                        <div class="p-1">
                            <img style="height: 350px;" src="https://images.unsplash.com/photo-1555328425-c29bc27e91c6?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDExM3x8ZGlldHxlbnwwfHx8fDE2NzQ3MjI3MzE&ixlib=rb-4.0.3&w=1000" class="img-fluid" alt="image4">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-1">
                            <img src="https://images.unsplash.com/photo-1606923829579-0cb981a83e2e?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3Mnx8aGVhbHRoeXxlbnwwfHx8fDE2NzQ3MjM1NDE&ixlib=rb-4.0.3&w=1000" class="img-fluid" alt="image3">
                        </div>
                        <div class="row g-2">
                            <div class="col-md-6">
                                <div class="p-1">
                                    <img style="height: 200px;" src="https://images.unsplash.com/photo-1572721794563-b799a41226ac?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDM0Mnx8ZGlldHxlbnwwfHx8fDE2NzQ3MjI4Mzk&ixlib=rb-4.0.3&w=1000" class="img-fluid" alt="image5">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="p-1">
                                    <img style="height: 200px;" src="https://images.unsplash.com/photo-1502124225665-6282a0146f6a?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEyN3x8ZWF0JTIwYmFieXxlbnwwfHx8fDE2NzQ3MjM0MTk&ixlib=rb-4.0.3&w=1000" class="img-fluid" alt="image6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-schedules">
            <div class="container text-center">
                <div class="row g-2">
                    <div class="col-md-8">
                        <div class="p-1" style="font-size: small; text-align: left"> SCHEDULES </div>
                        <div class="p-1" style="font-size: xx-large; text-align: left; font-weight: bolder"> Show us <br> your healthy schedules </div>
                    </div>
                    <div class="col-md-1 offset-md-2 align-self-end">
                        <img style="width: 30px; height: 30px;" src="./images/left.png" class="img-fluid" alt="left-button">
                    </div>
                    <div class="col-md-1 align-self-end">
                        <img style="width: 30px; height: 30px;" src="./images/right.png" class="img-fluid" alt="right-button">
                    </div>
                </div>
            </div>
            <div class="container cards">
                <div class="row g-2">
                    <div class="col-md-4">
                        <div class="p-1">
                            <div class="card">
                                <img style="height: 250px" src="https://images.unsplash.com/photo-1642489216436-4c5075b34d53?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fGNhbGVuZGVyfGVufDB8fHx8MTY3NTI1MDIxMg&ixlib=rb-4.0.3&w=200" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 style="font-weight: bold" class="card-title">1월 첫 주 식단표</h5>
                                    <p class="card-text">건강하게 한 해 시작하기</p>
                                    <a href="#" class="see-more" style="color: black">See more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="p-1">
                            <div class="card">
                                <img style="height: 250px" src="https://images.unsplash.com/photo-1552196563-55cd4e45efb3?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDU5fHx3b3Jrb3V0fGVufDB8fHx8MTY3NTI1MTU3NQ&ixlib=rb-4.0.3&w=200" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 style="font-weight: bold" class="card-title">여름맞이 다이어트 시작하기</h5>
                                    <p class="card-text">여름이 오기전에 준비하는 다이어트!</p>
                                    <a href="#" class="see-more" style="color: black">See more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="p-1">
                            <div class="card">
                                <img style="height: 250px" src="https://images.unsplash.com/photo-1616169776580-c86189ee67b8?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDJ8fGNvb2t8ZW58MHx8fHwxNjc1MjUwNjU2&ixlib=rb-4.0.3&w=200" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 style="font-weight: bold" class="card-title">건강한 한끼 해먹기</h5>
                                    <p class="card-text">하루 한끼건강하게 해먹기 프로젝트</p>
                                    <a href="#" class="see-more" style="color: black">See more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>

