<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1200">
    <title>TOALLRecipe</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
<div id="wrapper">
    <div id="header" role="banner">
        <nav class="navbar bg-body-tertiary"><div class="container-fluid">
            <img class="d-inline-block align-text-top" src="./images/logo.png" alt="Logo">
            <ul class="nav justify-content-end">
                <li class="nav-item"><a class="nav-link" href="home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="recipes" >Recipes</a></li>
                <li class="nav-item"><a class="nav-link" href="#" >Schedules</a></li>
                <li class="nav-item"><a class="nav-link" href="#"  >Community</a></li>
                <li class="nav-item"><a class="nav-link" href="#"  >My</a></li>
                <button class="btn btn-secondary" type="button">Login</button>
            </ul></div>
        </nav></div>
    <div id="container" role="main">
        <div class="home-text">
            <h1 class="first-text">
                Let's do<br>
                the delicious Diet!</h1>
            <p class="second-text">
                매일 닭가슴살만 먹는 다이어트는 그만<br>
                나만의 레시피를 공유해주세요<br>
                식습관을 바꾸는 건강한 다이어트 함께해요</p>
            <p class="button-space">
                <button class="btn btn-warning" type="button" onclick="location.href='/recipes/save'" style="font-weight: bold"> Share my recipe </button></p></div>
        <div class="home-images">
            <div class="container text-center">
                <div class="row g-2"><div class="col-md-3"><div class="p-1">
                    <img class="img-fluid" style="height: 500px;" alt="image1" src="https://images.unsplash.com/photo-1621919472462-6db865a003e4?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDExNXx8ZGlldHxlbnwwfHx8fDE2NzQ3MjI3MzE&ixlib=rb-4.0.3&w=1000" >
                </div></div>
                    <div class="col-md-3">
                        <div class="p-1"><img class="img-fluid" alt="image2" src="https://images.unsplash.com/photo-1513136917659-7306838e7d82?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDM2fHxkaWV0fGVufDB8fHx8MTY3NDcyMjY4NQ&ixlib=rb-4.0.3&w=1000" ></div>
                        <div class="p-1"><img class="img-fluid" alt="image4"style="height: 345px;" src="https://images.unsplash.com/photo-1555328425-c29bc27e91c6?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDExM3x8ZGlldHxlbnwwfHx8fDE2NzQ3MjI3MzE&ixlib=rb-4.0.3&w=1000" ></div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-1"><img class="img-fluid" alt="image3" src="https://images.unsplash.com/photo-1606923829579-0cb981a83e2e?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3Mnx8aGVhbHRoeXxlbnwwfHx8fDE2NzQ3MjM1NDE&ixlib=rb-4.0.3&w=1000" ></div>
                        <div class="row g-2">
                            <div class="col-md-6">
                                <div class="p-1"><img class="img-fluid" alt="image5" style="height: 190px;" src="https://images.unsplash.com/photo-1572721794563-b799a41226ac?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDM0Mnx8ZGlldHxlbnwwfHx8fDE2NzQ3MjI4Mzk&ixlib=rb-4.0.3&w=1000" ></div></div>
                            <div class="col-md-6">
                                <div class="p-1"><img class="img-fluid" alt="image6" style="height: 190px;" src="https://images.unsplash.com/photo-1502124225665-6282a0146f6a?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEyN3x8ZWF0JTIwYmFieXxlbnwwfHx8fDE2NzQ3MjM0MTk&ixlib=rb-4.0.3&w=1000" ></div>
                            </div></div></div></div></div></div>
        <div class="home-about">
            <div class="container text-center"><div class="row g-2"><div class="col-md-6 offset-md-1">
                <p class="smallTitle1"> ABOUT US </p>
                <p class="mainTitle1"> We aim for <br>a healthy lifestyle </p>
                <p class="mainText1"> 무작정 참다가 터져버리는 다이어트가 아닌<br> 건강하고 몸에 좋은 식습관을 함께 만들어요 </p>
                <div class="about-a">
                    <p>다이어트 식단이 맛 없어서 힘드신 분</p><p>다이어트 요리는 해본 적 없는 분</p><p>잘 참다가 한번씩 폭식하게 되시는 분</p>
                    <p>건강한 식습관을 공유하고 싶으신 분</p><p>혼자 하기 어려운 다이어트 함께 하고 싶으신 분</p><p>식습관 개선으로 꾸준한 다이어트를 하고 싶으신 분</p>
                </div></div>
                    <div class="col-md-4"><div class="p-1"><img src="https://images.unsplash.com/photo-1501959915551-4e8d30928317?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDJ8fGxpZmVzdHlsZXxlbnwwfHx8fDE2NzQ3Mjc1ODA&ixlib=rb-4.0.3&w=1000" class="card-img-top" alt="about-image"></div>
                    </div></div></div></div>
        <div class="home-recipes"><div class="recipes-text">
            <p class="smallTitle2"> RECIPES </p>
            <p class="mainTitle2"> Show off your own Recipes!<br></p>
            <p class="mainText2" >나만 알고 있는 맛있는 레시피 함께 나눠요!</p></div>
            <div class="button"><button type="button" onclick="location.href='recipes'" class="btn btn-secondary">See all recipes</button></div>
            <div class="recipes-category">
                <a class="category-hot" href="#">Hot dishes</a>
                <a class="category-cold" href="#">Cold dishes</a>
                <a class="category-vegan" href="#" >Vegan</a>
                <a class="category-spicy" href="#" >Spicy</a>
                <a class="category-desserts" href="#" >Desserts</a>
                <a class="category-drinks" href="#" >Drinks</a>
            </div>
            <div class="recipe-cards">
                <div class="row row-cols-1 row-cols-md-3 g-4"><div class="col"><div class="card h-100">
                    <img class="card-img-top" alt="recipe1" src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDQ4fHxyZWNpcGV8ZW58MHx8fHwxNjc0NzI0MTcy&ixlib=rb-4.0.3&w=1000">
                    <div class="card-body"><a href="#"><p class="card-text">카페 분위기나는 브런치 만들기!</p></a></div></div></div>
                    <div class="col"><div class="card h-100">
                        <img class="card-img-top" alt="recipe2" src="https://images.unsplash.com/photo-1485921325833-c519f76c4927?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE4fHxyZWNpcGV8ZW58MHx8fHwxNjc0NzI0MTcx&ixlib=rb-4.0.3&w=1000" >
                        <div class="card-body"><a href="#"><p class="card-text">시금치를 넣은 크림연어 레시피</p></a></div>
                        </div></div>
                    <div class="col"><div class="card h-100">
                        <img class="card-img-top" alt="recipe3" src="https://images.unsplash.com/photo-1623691752472-a6d33855e5de?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxyZWNpcGV8ZW58MHx8fHwxNjc0NzI0MTcx&ixlib=rb-4.0.3&w=1000" >
                        <div class="card-body"><a href="#"><p class="card-text">간단히 맛있게! 부르스케타 만들기</p></a></div>
                    </div></div>
                    <div class="col"><div class="card h-100">
                        <img class="card-img-top" alt="recipe4" src="https://images.unsplash.com/photo-1590194360930-4866613967b0?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDk2fHxyZWNpcGV8ZW58MHx8fHwxNjc0NzI4MDgy&ixlib=rb-4.0.3&w=1000" >
                        <div class="card-body"><a href="#"><p class="card-text">글루텐프리 다이어트 쿠키 레시피</p></a></div>
                    </div></div>
                    <div class="col"><div class="card h-100">
                        <img class="card-img-top" alt="recipe5" src="https://images.unsplash.com/photo-1598514983318-2f64f8f4796c?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDExN3x8cmVjaXBlfGVufDB8fHx8MTY3NDcyODA5MQ&ixlib=rb-4.0.3&w=1000" >
                        <div class="card-body"><a href="#"><p class="card-text">그릭샐러드 맛집 레시피</p></a></div>
                    </div></div>
                    <div class="col"><div class="card h-100">
                        <img class="card-img-top" alt="recipe6" src="https://images.unsplash.com/photo-1615865417491-9941019fbc00?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDMxN3x8cmVjaXBlfGVufDB8fHx8MTY3NDcyODE4OQ&ixlib=rb-4.0.3&w=1000" >
                        <div class="card-body"><a href="#"><p class="card-text">오트밀로 비빔밥 만들어먹기</p></a></div></div>
                    </div></div></div></div>
        <div class="home-schedules">
            <div class="container text-center"><div class="row g-2"><div class="col-md-8">
                <p class="smallTitle3">SCHEDULES </p>
                <p class="mainTitle3" > Show us <br> your healthy schedules </p></div>
                    <div class="col-md-1 offset-md-2 align-self-end"><a href="#"><img class="img-fluid" alt="left-button" style="width: 30px; height: 30px;" src="./images/left.png" ></a></div>
                    <div class="col-md-1 align-self-end"><a href="#"><img class="img-fluid" alt="right-button" style="width: 30px; height: 30px;" src="./images/right.png" ></a></div>
                </div></div>
            <div class="container cards"><div class="row row-cols-1 row-cols-md-4 g-2">
                <div class="col"><div class="card h-100">
                    <img class="card-img-top" alt="..." style="height: 200px" src="https://images.unsplash.com/photo-1642489216436-4c5075b34d53?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fGNhbGVuZGVyfGVufDB8fHx8MTY3NTI1MDIxMg&ixlib=rb-4.0.3&w=200">
                    <div class="card-body">
                        <h5 class="card-title" >1월 첫 주 식단표</h5><p class="card-text" >건강한 식단으로 한 해 시작하기</p><a href="#" class="see-more">see more</a>
                    </div></div></div>
                <div class="col"><div class="card h-100">
                    <img class="card-img-top" alt="..." style="height: 200px" src="https://images.unsplash.com/photo-1552196563-55cd4e45efb3?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDU5fHx3b3Jrb3V0fGVufDB8fHx8MTY3NTI1MTU3NQ&ixlib=rb-4.0.3&w=200" >
                    <div class="card-body">
                        <h5 class="card-title">여름맞이 다이어트 시작</h5><p class="card-text" >여름이 오기전에 준비하는 다이어트!</p><a href="#" class="see-more" >see more</a>
                    </div></div></div>
                <div class="col"><div class="card h-100">
                    <img class="card-img-top" alt="..." style="height: 200px" src="https://images.unsplash.com/photo-1616169776580-c86189ee67b8?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDJ8fGNvb2t8ZW58MHx8fHwxNjc1MjUwNjU2&ixlib=rb-4.0.3&w=200" >
                    <div class="card-body">
                        <h5 class="card-title">건강한 한끼 해먹기</h5><p class="card-text">하루 한끼건강하게 해먹기 프로젝트</p><a href="#" class="see-more">see more</a>
                    </div></div></div>
                <div class="col"><div class="card h-100">
                    <img class="card-img-top" alt="..." style="height: 200px" src="https://images.unsplash.com/photo-1529651737248-dad5e287768e?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDR8fHNjaGVkdWxlfGVufDB8fHx8MTY3NTMxODY5Nw&ixlib=rb-4.0.3&w=200" >
                    <div class="card-body">
                        <h5 class="card-title">30대 다이어터 식단</h5><p class="card-text">더 건강하게 더 맛있게 먹는 식단</p><a href="#" class="see-more">see more</a>
                    </div></div></div>
            </div></div>
        </div>
        <div class="home-our-process" style="color: white">
            <div class="process-title">
                <p class="smallTitle4" >OUR PROCESS</p><p class="mainTitle4" >Make your own schedules,<br>fill it with recipes!</p>
            </div>
            <div class="container text-center"><div class="row g-2">
                    <div class="col-md-3" style="text-align: left; padding-top: 40px;">
                        <p class="process1">01</p><p class="process2">02</p><p class="process3">03</p>
                    </div>
                    <div class="col-md-9" style="text-align: left; padding-top: 40px;">
                        <p class="step1">Make your own diet schedule</p>
                        <p class="step2">당신의 일정에 맞게 당신만의 특별한 다이어트 레시피 스케쥴표를 구성해보세요!<br>원하는 요일(day)과 주(week)를 선택하고 끼니(meal)를 선택해주세요.</p>
                        <p class="step3">Choose your favorite recipes</p>
                        <p class="step4">다양한 카테고리를 둘러보며 마음에 드는 레시피들을 골라보세요.</p>
                        <p class="step5">Just fill your schedule with your favorite recipes.</p>
                        <p class="step6">내가 만든 나만의 다이어트 스케쥴표에 내가 고른 레시피들을 담아보세요!<br>재료 장보기까지 편하게 한번에!</p>
                    </div></div>
            </div></div>
        <div class="home-community">
            <div class="community-title">
                <p class="smallTitle5">COMMUNITY</p><p class="mainTitle5">Share our stories about diet!</p>
                <p class="mainText5">다이어트를 잘 하는 사람도 어려운 사람도 누구나 함께<br>나의 경험을 공유하고 나누어보는 건 어떨까요?</p>
                <div class="button" ><button type="button" class="btn btn-secondary">See all stories</button></div>
            </div>
            <div class="container cards">
                <div class="row row-cols-1 row-cols-md-4 g-2">
                    <div class="col"><div class="card h-100">
                        <img class="card-img-top" alt="..." src="https://images.unsplash.com/photo-1514315384763-ba401779410f?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDU2OHx8ZGlldHxlbnwwfHx8fDE2NzQ3MjMxNDM&ixlib=rb-4.0.3&w=600" >
                        <div class="card-body"><h5 class="card-title">나의 섭식장애 해방일지 </h5><a href="#" class="see-more">see more</a>
                        </div></div></div>
                    <div class="col"><div class="card h-100">
                        <img class="card-img-top" alt="..." src="https://images.unsplash.com/photo-1609899517237-77d357b047cf?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDcxfHx3b3Jrb3V0fGVufDB8fHx8MTY3NDcyODU3NQ&ixlib=rb-4.0.3&w=600" >
                        <div class="card-body"><h5 class="card-title">운동기록과 식단기록</h5><a href="#" class="see-more">see more</a>
                        </div></div></div>
                    <div class="col"><div class="card h-100">
                        <img class="card-img-top" alt="..." src="https://images.unsplash.com/photo-1636139565467-fa3e429261ad?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDY3MXx8ZGlldHxlbnwwfHx8fDE2NzQ3Mjg4MjY&ixlib=rb-4.0.3&w=600" >
                        <div class="card-body"><h5 class="card-title">비건라이프 즐기는 방법</h5><a href="#" class="see-more">see more</a>
                        </div></div></div>
                    <div class="col"><div class="card h-100">
                        <img class="card-img-top" alt="..." src="https://images.unsplash.com/photo-1617659258448-f2711883be96?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE5fHxzZWxmJTIwZXN0ZWVtfGVufDB8fHx8MTY3NTMxODQ5MA&ixlib=rb-4.0.3&w=200" >
                        <div class="card-body"><h5 class="card-title">다이어트 강박버리기</h5><a href="#" class="see-more">see more</a>
                        </div></div></div>
                </div></div>
        </div>
        <div class="home-contact">
            <div class="contact-title">
                <p class="smallTitle6">HELP OUR DIET</p><p class="mainTitle6">Let's collaborate!</p>
                <p class="mainText6"> 건강한 식품과 재료에 관련된 상점을 환영합니다.<br> 우리의 건강한 다이어트를 위해 <br>함께해주세요</p>
            </div>
            <button type="button" class="btn btn-outline-danger" style="background-color: white; color: black; font-weight: bold; font-size:.70rem;">Contact Us</button>
        </div>
    </div>
    <div id="footer" role="banner">
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>

